body {
    background-color: black;
}

a{
    color: crimson;
}

ol li {
    color: white;
}

h1 {
    color: white;
}

tr{
    color: white;
}

th{
    background-color: crimson;
}

td a{
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: dashed;
    text-decoration: dotted;
}

td img {
    width: 100px;
    height: auto;
}